**Practice Only No Copy and Paste from any sources.**

#Read the dataset (propertydata.csv) and identify the columns and their datatype

In [ ]:
#

#Describe the dataset

In [ ]:
#

#Display the street number (ST_NUM) and check any NaN values.

In [ ]:
#

#Print the number of bedrooms (NUM_BEDROOMS) and check any NaN values.

In [ ]:
#

#There are few missing values like ["n/a", "na",  "--"] Apply some technique to replace these values with NaN.

In [ ]:
#

#Fill the ST_NUM by the maximum number of houses in a particular street

In [ ]:
#